                        <!--About -->
                        <div class="about">
                            <!--Main title-->
                                <div class="main-title">
                                    <h1>who am i</h1>
                                    <div class="divider">
                                            <div class="zigzag large clearfix "  data-svg-drawing="yes" >
<svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
<path d="M1.357,12.26 10.807,2.81 20.328,12.332
    29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
</svg>
</div>
                                    </div>
                                </div>
                            <!--End main title-->
                        <!--Content-->
                        <div class="content">
                            <!--Block content-->
                            <div class="block-content margBSmall">
                            <div class=" profile margBSmall">
                                <h1>{{ basics.name }}</h1>
                                <h3>{{ basics.label }} / {{ basics.sublabel}}</h3>
                            </div>
                        </div>
                            <!--End block content-->
                            <!--Block content-->
                            <div class="block-content">
                                <div class="info">
                                    <!--Row-->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="info-list clearfix">
	            <li><span class="inf">Name </span>  <span class="value">{{ basics.name }}</span></li>
                                                <li><span class="inf">Date of birth</span>  <span class="value">[Redacted]</span></li>
	            <li><span class="inf">Address</span>  <span class="value">{{ basics.location.address }} {{ basics.location.city }}</span></li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <ul class="info-list">
	            <li><span class="inf">Email</span>  <span class="value">{{ basics.email }}</span></li>
	            <li><span class="inf">Phone</span>  <span class="value">{{ basics.phone }}</span></li>
	            <li><span class="inf">LinkedIn</span>  <span class="value"><a href="{{basics.profiles[0].url}}">{{ basics.profiles[0].username }}</a></span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--End row-->
                                </div>
                            </div>
                            <!--End block content-->
                        </div>
                        <!--End content-->
                                <div class="main-title">
                                    <h1>experience</h1>
                                        <div class="divider">
                                                <div class="zigzag large clearfix "  data-svg-drawing="yes" >
    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
    </svg>
    </div>
    </div>
                                </div>
                            <!--End main title-->
                                <!--Content-->
                                <div class="content">
                                    <!--Block content-->
                                    <div class="block-content ">
                                    <!--Timeline-->
                                    <div class="timeline experience">
                                           <!--Row-->
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <!--Experience holder-->
                                                <div class="exp-holder margTop">

	            {% for job in work %}
	                <!--Experience-->
	                <div class="exp">
	                <div class="hgroup" >
	                    <h4>{{job.position}} – {{job.company}} </h4>
	                    <h6><i class="icon-calendar"></i>{{job.startDate}} / {{job.endDate}}</h6>
	                </div>
	                <p>
	                    {% if job.highlights %}
	                        <ul>
	                            {% for highlight in job.highlights %}
	                                <li>{{highlight.description}}</li>
	                                {% if highlight.additionalDescriptions %}
		<ul>
		    {% for ad in highlight.additionalDescriptions %}
		        <li>{{ad.description}}</li>
		    {% endfor %}
		</ul>
	                                {% endif %}
	                            {% endfor %}
	                        </ul>
	                    {% endif %}
	                </p>
	                </div>
	                <!--End experience-->
	            {% endfor %}

                                                </div>
                                                <!--End experience holder-->
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End timeline-->
                                    </div>
                                    <!--End block content-->
                        </div>
                        <!--End content-->
                            <!--Main title-->
                                <div class="main-title">
                                    <h1>education</h1>
                                        <div class="divider">
                                                <div class="zigzag large clearfix "  data-svg-drawing="yes" >
    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
    </svg>
    </div>
    </div>
                                </div>
                            <!--End main title-->
                                    <!--Content-->
                                    <div class="content">
                                        <!--Block content-->
                                        <div class="block-content">
                                        <!--Timeline-->
                                        <div class="timeline education">
                                               <!--Row-->
                                            <div class="row ">
                                                <div class="col-md-12">
                                                    <!--Experience holder-->
                                                    <div class="exp-holder margTop">
	                    {% for ed in education %}
	                        <!--Experience-->
	                        <div class="exp">
	                        <div class="hgroup" >
	                            <h4>{{ed.institution}}</h4>
	                            <h6><i class="icon-calendar"></i>{{ed.startDate}} / {{ed.endDate}}</h6>
	                        </div>
	                        <p>
	                            {% if ed.highlights %}
	                                <ul>
		{% for highlight in ed.highlights %}
		    <li>{{highlight.description}}</li>
		    {% if highlight.additionalDescriptions %}
		        <ul>
		            {% for ad in highlight.additionalDescriptions %}
		                <li>{{ad.description}}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
		{% endfor %}
	                                </ul>
	                            {% endif %}
	                        </p>
	                        </div>
	                        <!--End experience-->
	                    {% endfor %}
	                        <!--Experience-->
                                                    </div>
                                                    <!--End experience holder-->
                                                </div>
                                            </div>
                                            <!--End row-->
                                        </div>
                                        <!--End timeline-->
                                        </div>
                                        <!--End block content-->
                            </div>
                            <!--End content-->
                            <!--Main title-->
                                <div class="main-title">
                                    <h1>services</h1>
                                        <div class="divider">
                                                <div class="zigzag large clearfix "  data-svg-drawing="yes" >
    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
    </svg>
    </div>
    </div>
                                </div>
                            <!--End content-->
                                    <!--Button2-->
                                    <div class="button margTop ofsInTop tCenter">
                                            <div class="divider">
                                                    <div class="zigzag large clearfix "  data-svg-drawing="yes" >
        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
        </svg>
        </div>
        </div>
                                           <!--Row-->
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <a class="but opc-1 ico" href="John_Ailor.pdf">Download my cv</a>
                                            </div>
                                            </div>
                                            <!--End row-->
                                        </div>
                                        <!--End button-->
                        </div>
                        <!--End about-->
