                        <!--End content-->
                                <div class="main-title">
                                    <h1>projects</h1>
                                        <div class="divider">
                                                <div class="zigzag large clearfix "  data-svg-drawing="yes" >
    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
    </svg>
    </div>
    </div>
                                </div>
                            <!--End main title-->
                                <!--Content-->
                                <div class="content">
                                    <!--Block content-->
                                    <div class="block-content ">
                                    <!--Timeline-->
                                    <div class="timeline project">
                                           <!--Row-->
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <!--Experience holder-->
                                                <div class="exp-holder margTop">

	            {% for proj in project %}
	                <!--Experience-->
	                <div class="exp">
	                <div class="hgroup" >
	                    <h4>{{proj.title}}</h4>
	                    <h5>{{proj.subtitle}}</h5>
	                    <h6><i class="icon-calendar"></i>{{proj.startDate}} / {{proj.endDate}}</h6>
	                </div>
	                <p>
	                    {% if proj.highlights %}
	                        <ul>
	                            {% for highlight in proj.highlights %}
	                                <li>
	                                {% if highlight.description %}
		{{highlight.description}}
	                                {% else %}
		{{highlight}}
	                                {% endif %}
	                                </li>
	                                {% if highlight.additionalDescriptions %}
		<ul>
		    {% for ad in highlight.additionalDescriptions %}
		        <li>{{ad}}</li>
		    {% endfor %}
		</ul>
	                                {% endif %}
	                            {% endfor %}
	                        </ul>
	                    {% endif %}
	                </p>
	                </div>
	                <!--End experience-->
	            {% endfor %}

                                                </div>
                                                <!--End experience holder-->
                                            </div>
                                        </div>
                                        <!--End row-->
                                    </div>
                                    <!--End timeline-->
                                    </div>
                                    <!--End block content-->
                        </div>
                        <!--End content-->
                            <!--Main title-->
                                <div class="main-title">
                                    <h1>Extracurricular</h1>
                                        <div class="divider">
                                                <div class="zigzag large clearfix "  data-svg-drawing="yes" >
    <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
    <path d="M1.357,12.26 10.807,2.81 20.328,12.332
        29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
    </svg>
    </div>
    </div>
                                </div>
                            <!--End main title-->
                                    <!--Content-->
                                    <div class="content">
                                        <!--Block content-->
                                        <div class="block-content">
                                        <!--Timeline-->
                                        <div class="timeline activity">
                                               <!--Row-->
                                            <div class="row ">
                                                <div class="col-md-12">
                                                    <!--Experience holder-->
                                                    <div class="exp-holder margTop">
	                    {% for activ in volunteer %}
	                        <!--Experience-->
	                        <div class="exp">
	                        <div class="hgroup" >
	                            <h4>{{activ.organization}}</h4>
	                            <h5>{{activ.position}}</h5>
	                            <h6><i class="icon-calendar"></i>{{activ.startDate}} / {{activ.endDate}}</h6>
	                        </div>
	                        <p>
	                            {% if activ.highlights %}
	                                <ul>
		{% for highlight in activ.highlights %}
		    <li>
		    {% if highlight.description %}
		        {{highlight.description}}
		    {% else %}
		        {{highlight}}
		    {% endif %}
		    </li>
		    {% if highlight.additionalDescriptions %}
		        <ul>
		            {% for ad in highlight.additionalDescriptions %}
		                <li>{{ad}}</li>
		            {% endfor %}
		        </ul>
		    {% endif %}
		{% endfor %}
	                                </ul>
	                            {% endif %}
	                        </p>
	                        </div>
	                        <!--End experience-->
	                    {% endfor %}
	                        <!--Experience-->
                                                    </div>
                                                    <!--End experience holder-->
                                                </div>
                                            </div>
                                            <!--End row-->
                                        </div>
                                        <!--End timeline-->
                                        </div>
                                        <!--End block content-->
                            </div>
                            <!--End content-->
                            <!--Main title-->
                            <!--End content-->
                                    <!--Button2-->
                                    <div class="button margTop ofsInTop tCenter">
                                            <div class="divider">
                                                    <div class="zigzag large clearfix "  data-svg-drawing="yes" >
        <svg xml:space="preserve" viewBox="0 0 69.172 14.975" width="37" height="28" y="0px" x="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" version="1.1">
        <path d="M1.357,12.26 10.807,2.81 20.328,12.332
            29.781,2.879 39.223,12.321 48.754,2.79 58.286,12.321 67.815,2.793 "  style="stroke-dasharray: 93.9851, 93.9851; stroke-dashoffset: 0;"/>
        </svg>
        </div>
        </div>
                                           <!--Row-->
                                        <div class="row ">
                                            <div class="col-md-12">
                                                <a class="but opc-2 ico" href="John_Ailor.pdf">Download my cv (pdf)</a>
                                                <a class="but opc-1 ico" href="John_Ailor.json">Download my cv (json)</a>
                                            </div>
                                            </div>
                                            <!--End row-->
                                        </div>
                                        <!--End button-->
                        <!--End about-->
